@font-face {
    font-family: "Earthbound";
    src: url("sprites/orange kid.ttf");
}

body {
    margin: 0;
    background: #222
}

.game-layers {
    position: absolute;
    image-rendering: pixelated;
}

#content {
    position: absolute;
    left: 0px;
}

#ui-layer { z-index: 3; }
#entity-layer { z-index: 2; }
#screen-layer { z-index: 1; }