{% extends "template.html" %}

{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'projects/Game/Game.css' %}">

    <script src="{% static 'projects/Game/Game.js' %}" type="module" defer></script>

    <title>Dwinchi | Game</title>
{% endblock %}

{% block title %}Indecisive Game Name{% endblock %}

{% block content %}
<section id="preload" style="display: none;">
    <img id="player-img" src="{% static 'projects/Game/sprites/Player.png' %}">
    <img id="T-0" src="{% static 'projects/Game/sprites/tilesets/t-0.png' %}">
</section>
<section id="content">
    <canvas class="game-layers" id="ui-layer" width="320" height="180"></canvas>
    <canvas class="game-layers" id="entity-layer" width="320" height="180"></canvas>
    <canvas class="game-layers" id="screen-layer" width="320" height="180"></canvas>

    <span id="fps" style="color: white;z-index: 10;position: absolute;">--</span>
</section>

{% endblock %}